/**
 * 폰트 
 * 
 * @author 최유경
 * @since 2024.09.02
 * @version 1.0
 *
 * <pre>
 * 수정일        수정자        수정내용
 * ----------  --------    ---------------------------
 * 2024.09.02  	최유경       최초 생성
 * </pre>
 */

@font-face {
    font-family: 'Happiness-Sans';
    font-weight: 700; /* Bold */
    font-display: swap;
    src: local('Happiness-Sans-Bold'),
      url(../assets/font/Happiness-Sans-Bold.woff) format('woff'),
      url(../assets/font/Happiness-Sans-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Happiness-Sans';
    font-weight: 400; /* Regular */
    font-display: swap;
    src: local('Happiness-Sans-Regular'),
      url(../assets/font/Happiness-Sans-Regular.woff) format('woff'),
      url(../assets/font/Happiness-Sans-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Happiness-Sans';
    font-weight: 500; /* Title */
    font-display: swap;
    src: local('Happiness-Sans-Title'),
      url(../assets/font/Happiness-Sans-Title.woff) format('woff'),
      url(../assets/font/Happiness-Sans-Title.woff2) format('woff2');
}

*,
html {
  font-family: 'Pretendard', sans-serif;
}
body {
  font-family: 'Pretendard', sans-serif;
}